/* ========== 
Basic Reset 
========== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* ==========
Custom Properties / Variables
========== */

:root {
  --black: #262626;
  --grey: #f5f5f5;
  --white: #fff;
  --primary-color: #e6001d;

  --basic-padding: 1.25rem;
}

/* ========== 
Typography 
========== */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

p,
ol,
ul,
li {
  font-family: "PT Sans", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* ==========
Primary Navigation
========== */

.primary-navigation {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--basic-padding);
}

.logo {
  margin: auto;
}

/* ==========
Page Header
========== */

.page-header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--black);
  padding: 0.625em;
  margin-bottom: 1.25em;
}

.page-header h1 {
  font-size: 2rem;
  color: var(--white);
  margin: auto;
}

/* ==========
Homepage Container
========== */

.container {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 1.25em;
}

/* ==========
Recipe Card Grid
========== */

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25em;
}

.recipe-image {
  max-height: 426px;
  width: 100%;
  object-fit: cover;
}

.recipe-card {
  background-color: var(--grey);
  padding: var(--basic-padding);
}

.recipe-card h2 {
  font-size: 1.5rem;
}

.recipe-card p {
  font-size: 1.125rem;
  margin-bottom: 0.625em;
}
